<div class="row justify-content-center">
  <div class="col-sm-6">
    <h1>Edit item</h1>
    <%= form_with(scope: :item, url: item_path(id: @item), method: :patch, local: true) do |form| %>
      <p>
        <%= form.label :description %><br>
        <%= form.text_field :description %>
      </p>
      <p>
        <%= form.label :status %><br>
        <%= form.select :status, [['completed', 0], ['to do', 1], ['in progress',2]] %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
    <%= link_to 'Back', root_path %>
  </div>
</div>
